.frameChild,
.rectangleParent {
  width: var(--width-124);
  background-color: var(--color-gray-700);
  flex-shrink: 0;
}
.rectangleParent {
  height: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-39) var(--padding-27) 35px var(--padding-23);
  box-sizing: border-box;
  gap: 79px;
  z-index: 1;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frameChild {
  height: 1024px;
  position: relative;
  display: none;
}
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-7) var(--padding-0) var(--padding-8);
  flex-shrink: 0;
}
.frameItem {
  width: var(--width-59);
  position: relative;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frameContainer,
.frameParent {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.frameContainer {
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-4) 301px var(--padding-0);
  flex-shrink: 0;
}
.frameParent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-30);
}
.rectangleGroup {
  border-radius: var(--br-20);
  background-color: var(--color-mediumslateblue-200);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-16) var(--padding-20);
  z-index: 2;
}
.frameInner,
.groupIcon {
  position: relative;
  flex-shrink: 0;
}
.frameInner {
  height: var(--height-70);
  width: var(--width-70);
  border-radius: var(--br-20);
  background-color: var(--color-mediumslateblue-200);
  display: none;
}
.groupIcon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: var(--height-38);
  width: var(--width-30);
  z-index: 3;
}
.frameDiv {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-9) var(--padding-0) var(--padding-15);
}
.frameGroup {
  align-self: stretch;
  width: var(--width-46);
  flex-direction: column;
  gap: var(--gap-46);
}
.frameButton,
.frameGroup,
.frameParent2 {
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  flex-direction: column;
  gap: 35.5px;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-0) var(--padding-5) var(--padding-0) var(--padding-3);
  background-color: transparent;
}
.frameChild2 {
  height: var(--height-33);
  width: var(--width-38);
  position: relative;
  z-index: 2;
}
.frameWrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-0) var(--padding-9) var(--padding-0) var(--padding-5);
  background-color: transparent;
  display: flex;
  align-items: flex-start;
}
.frameChild3,
.starRating {
  height: var(--height-35);
  width: var(--width-32);
  position: relative;
  z-index: 2;
}
.starRating {
  width: var(--width-46);
  height: var(--height-45);
}
.rectangleContainer {
  height: var(--height-32);
  width: var(--width-32);
  position: relative;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border: var(--border-1);
  box-sizing: border-box;
}
.frameChild4,
.frameChild5,
.rectangleDiv,
.rectangleIcon {
  position: absolute;
  border-radius: var(--br-3);
  width: var(--width-14_5);
  height: var(--height-13_9);
  z-index: 2;
}
.frameChild4 {
  top: 0.3px;
  left: 17.5px;
  border: var(--border-1);
  box-sizing: border-box;
}
.frameChild5,
.rectangleIcon {
  top: 18.1px;
  left: 17.2px;
}
.frameChild5 {
  top: 17.8px;
  left: 0;
  border: var(--border-1);
  box-sizing: border-box;
}
.ellipseParent {
  width: var(--width-70);
  height: var(--height-70);
  position: relative;
  flex-shrink: 0;
}
.ellipseDiv,
.h3 {
  position: absolute;
}
.ellipseDiv {
  top: 0;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(--color-darkorchid);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.h3 {
  margin: 0;
  top: 22px;
  left: 12px;
  display: inline-block;
  min-width: var(--min-w-44);
  z-index: 3;
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--fs-19);
  }
}
