.frameChild,
.rectangleParent {
  border-radius: var(--br-0) var(--br-0) var(--br-0) var(--br-31);
  background-color: var(--color-gray-700);
  max-width: 100%;
  flex-shrink: 0;
}
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 18px 32px;
  box-sizing: border-box;
  gap: 18px;
  z-index: 1;
  text-align: left;
  font-size: 13px;
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
  width: 320px;
}
.frameChild {
  width: var(--width-375);
  height: 855px;
  position: relative;
  display: none;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  padding: 0 4px;
  flex-shrink: 0;
}
.h1 {
  margin: 0;
  position: relative;
  z-index: 2;
  font-size: 15px;
}
.frameWrapper {
  display: flex;
  align-items: flex-start;
  padding: 0 2px 8px;
  flex-shrink: 0;
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.frameGroup {
  gap: 14px;
  flex-shrink: 0;
}
.container {
  padding: 0 0 0 4px;
}
.container,
.frameContainer,
.uiWrapper {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
  color: var(--color-mediumpurple);
}
.uiWrapper {
  padding: var(--padding-0) var(--padding-2);
}
.ui {
  margin: 0;
  position: relative;
  z-index: 2;
}
.frame {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-2);
}
.divider {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  margin: 0 var(--padding-28);
}
@media screen and (max-width: 1050px) {
  .rectangleParent {
    padding-top: var(--padding-20);
    padding-bottom: 65px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .h1 {
    font-size: var(--fs-26);
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    gap: var(--gap-22);
    padding-bottom: 42px;
    box-sizing: border-box;
  }
  .h1,
  .ui {
    font-size: var(--fs-19);
  }
}

