.moderation,
.moderationChild {
  position: relative;
  background-color: var(--color-gray-700);
  max-width: 100%;
}
.moderation {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-16) var(--padding-10) var(--padding-27);
  box-sizing: border-box;
  gap: var(--gap-36);
  text-align: left;
  font-size: var(--fs-15);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.moderationChild {
  height: 124px;
  width: 1315px;
  display: none;
  flex-shrink: 0;
}
.moderatorContactParent,
.moderatorDetails {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.moderatorDetails {
  flex-direction: column;
  padding: var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  flex-shrink: 0;
}
.moderatorContactParent {
  align-self: stretch;
  gap: 38px;
}
.moderatorContact,
.moderatorInfo {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.moderatorContact {
  gap: 45.5px;
  max-width: 100%;
}
.moderatorInfo {
  flex-direction: column;
  gap: var(--gap-1);
  min-width: 189px;
}
.div {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.moderatorEmail {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 17px;
  color: var(--color-gray-100);
}
.separator {
  height: 79px;
  width: var(--width-1);
  position: relative;
  border-right: var(--border-11);
  box-sizing: border-box;
  z-index: 1;
}
.platformOwner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5);
  min-width: 183px;
}
.div2 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.ownerDetails {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-20);
  color: var(--color-gray-100);
}
.instagramAnasteishen {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.support {
  height: 78px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-28) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-32);
  flex-shrink: 0;
}
.supportContactWrapper {
  flex-direction: column;
  padding: var(--padding-3) var(--padding-0) var(--padding-0);
}
.supportContact,
.supportContactWrapper,
.supportDetails {
  display: flex;
  align-items: flex-start;
}
.supportContact {
  flex-direction: column;
  gap: var(--gap-6);
}
.supportDetails {
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-13);
  color: var(--color-gray-100);
}
.separatorThree {
  align-self: stretch;
  width: var(--width-1);
  position: relative;
  border-right: var(--border-11);
  box-sizing: border-box;
  z-index: 1;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.8px var(--padding-0) var(--padding-0);
  flex-shrink: 0;
  font-size: var(--fs-24);
  color: var(--color-midnightblue);
}
.footerContent {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  gap: 11.7px;
}
.footerContentChild {
  width: 58.6px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 1;
}
.fusionBranding,
.fusionLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fusionLogo {
  flex: 1;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 4.4px;
}
.fusionBranding {
  align-self: stretch;
  gap: 2.8px;
  flex-shrink: 0;
}
.ideafusion {
  margin: 0;
  width: 152.3px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.fusion {
  color: var(--color-mediumslateblue-200);
}
.creativeCollaborationPlatfor,
.fusionIcon {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.fusionIcon {
  height: var(--height-1);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.creativeCollaborationPlatfor {
  font-size: var(--fs-8);
  color: var(--color-lightslategray);
}
@media screen and (max-width: 1225px) {
  .moderation {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .moderation {
    gap: 18px;
  }
  .moderatorContactParent {
    gap: var(--gap-19);
    flex-wrap: wrap;
  }
  .moderatorContact {
    gap: var(--gap-23);
    flex-wrap: wrap;
    min-width: 100%;
  }
  .separator {
    width: 100%;
    height: var(--height-1);
  }
}
@media screen and (max-width: 450px) {
  .support {
    gap: 16px;
  }
  .ideafusion {
    font-size: var(--fs-19);
  }
}




