.externalLink,
.externalLinkChild {
  width: var(--width-600);
  border-radius: var(--br-40);
  background-color: var(--color-gray-300);
  max-width: 100%;
}
.externalLink {
  position: absolute;
  top: 886px;
  left: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-31) var(--padding-18);
  box-sizing: border-box;
  gap: var(--gap-16_5);
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.externalLinkChild {
  height: var(--height-156);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.linkSelection {
  width: var(--width-397);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-12);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.h3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.externalLinkAddress,
.linkDescription {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.externalLinkAddress {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  align-self: stretch;
  border-radius: var(--br-30);
  padding: var(--padding-5) var(--padding-27);
  font-family: var(--font-inter);
  font-weight: 200;
  font-size: var(--fs-24);
  color: var(--color-white);
  min-width: var(--min-w-250);
  z-index: 1;
}
.linkDescription {
  padding: var(--padding-0) var(--padding-10);
  max-width: 100%;
  font-size: var(--fs-14);
}
.behanceDribbbleFigma {
  position: relative;
  font-weight: 200;
  z-index: 1;
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--fs-19);
  }
}
