.passwordInput,
.passwordInputChild {
  width: var(--width-991);
  border-radius: var(--br-100);
  background-color: var(--color-gray-300);
  max-width: 100%;
}
.passwordInput {
  position: absolute;
  top: 197px;
  left: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 43px var(--padding-64) var(--padding-64);
  box-sizing: border-box;
  gap: var(--gap-19);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.passwordInputChild {
  height: 793px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.h3,
.wrapper {
  max-width: 100%;
}
.wrapper {
  width: 539px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-01) var(--padding-10) var(--padding-7);
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--fs-24);
}
.h3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.roleContainerParent {
  width: var(--width-846);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11);
  max-width: 100%;
  flex-shrink: 0;
}
.roleContainer {
  width: 247px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-01) var(--padding-14);
  box-sizing: border-box;
}
.div {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.emailInput,
.emailInputChild {
  border-radius: var(--br-20);
  background-color: var(--color-gray-600);
  max-width: 100%;
}
.emailInput {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-8) var(--padding-32) var(--padding-7) var(--padding-18);
  box-sizing: border-box;
  gap: var(--gap-20);
  z-index: 1;
  font-size: var(--fs-24);
}
.emailInputChild {
  height: var(--height-75);
  width: var(--width-846);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.passwordFields {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-12);
  flex-shrink: 0;
}
.loginAction {
  height: var(--height-60);
  width: var(--width-60);
  position: relative;
}
.loginActionChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(--color-goldenrod);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.h32 {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 9px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: var(--min-w-41);
  z-index: 3;
}
.loginRegisterWrapper {
  flex-direction: column;
  padding: var(--padding-6) var(--padding-01) var(--padding-01);
  font-size: var(--fs-20);
  color: var(--color-whitesmoke);
}
.container,
.loginRegister,
.loginRegisterWrapper {
  display: flex;
  align-items: flex-start;
}
.loginRegister {
  flex-direction: column;
}
.container {
  padding: var(--padding-01) var(--padding-01) var(--padding-01);
}
.div2,
.h33 {
  position: relative;
  flex-shrink: 0;
}
.h33 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.div2 {
  font-size: var(--fs-16);
  font-weight: 300;
  color: var(--color-gray-100);
  z-index: 3;
}
.receptionDisplayWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01) var(--padding-01) var(--padding-12);
  background-color: transparent;
  width: var(--width-30);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-shrink: 0;
}
.receptionDisplay {
  align-self: stretch;
  height: var(--height-30);
  position: relative;
}
.receptionDisplayChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-50);
  border: 0 solid var(--color-gray-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.x {
  position: absolute;
  top: 9.7px;
  left: 10px;
  font-size: var(--fs-16);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 3;
}
.passwordInputInner,
.teamHeaderParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.passwordInputInner {
  align-self: stretch;
  padding: var(--padding-01) var(--padding-15) var(--padding-01)
    var(--padding-10);
  box-sizing: border-box;
  flex-shrink: 0;
}
.teamHeaderParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11);
}
.rectangleParent,
.teamHeader {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.teamHeader {
  width: 221px;
  padding: var(--padding-01) var(--padding-1);
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-20);
  background-color: var(--color-gray-600);
  justify-content: space-between;
  padding: var(--padding-12) 34px var(--padding-10) var(--padding-01);
  gap: var(--gap-20);
  max-width: 100%;
  z-index: 1;
  font-size: var(--fs-24);
}
.frameChild,
.lineParent {
  max-width: 100%;
  flex-shrink: 0;
}
.frameChild {
  height: 105px;
  width: 832px;
  position: relative;
  border-radius: var(--br-20);
  background-color: var(--color-gray-600);
  display: none;
}
.lineParent {
  height: var(--height-83);
  width: 503px;
  display: flex;
  align-items: flex-start;
  gap: 34px;
}
.frameItem {
  height: var(--height-85);
  width: var(--width-2);
  position: relative;
  border-right: 2px solid var(--color-mediumaquamarine-200);
  box-sizing: border-box;
}
.frameWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-4) var(--padding-01) var(--padding-01);
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.frameParent,
.parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-12);
}
.parent {
  gap: var(--gap-18);
}
.h34 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.frameContainer,
.rectangleGroup {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  width: var(--width-101);
  flex-direction: column;
  padding: var(--padding-2) var(--padding-01) var(--padding-01);
  font-size: var(--fs-15);
}
.rectangleGroup {
  height: var(--height-25);
  border-radius: var(--br-30);
  background-color: var(--color-mediumaquamarine-300);
  border: var(--border-2);
  padding: var(--padding-1) var(--padding-13) var(--padding-2) var(--padding-19);
  z-index: 1;
}
.div4,
.frameInner {
  position: relative;
  flex-shrink: 0;
}
.frameInner {
  height: var(--height-25);
  width: var(--width-101);
  border-radius: var(--br-30);
  background-color: var(--color-mediumaquamarine-300);
  border: var(--border-2);
  box-sizing: border-box;
  display: none;
}
.div4 {
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.illustratorParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-14);
  font-size: var(--fs-16);
}
.div5,
.illustrator {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.illustrator {
  white-space: nowrap;
}
.div5 {
  width: 189px;
  font-size: var(--fs-11);
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
}
.frameInput {
  cursor: pointer;
  margin: 0;
  height: 55px;
  width: var(--width-30);
  flex-direction: column;
  padding: var(--padding-25) var(--padding-01) var(--padding-01);
  flex-shrink: 0;
}
.frame,
.frameInput,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame {
  width: var(--width-241);
  padding: var(--padding-01) var(--padding-11);
}
.rectangleContainer {
  align-self: stretch;
  border-radius: var(--br-20);
  background-color: var(--color-gray-600);
  justify-content: space-between;
  padding: var(--padding-23) 38px var(--padding-25) var(--padding-48);
  gap: var(--gap-20);
  max-width: 100%;
  z-index: 1;
  color: var(--color-gray-100);
}
.div7 {
  position: relative;
  font-weight: 300;
  z-index: 2;
  flex-shrink: 0;
}
.vectorWrapper {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-01) var(--padding-01);
  box-sizing: border-box;
  flex-shrink: 0;
}
.arrowIcon {
  height: var(--height-26);
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.frameDiv,
.statusBarContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  width: var(--width-838);
  flex-direction: column;
  gap: var(--gap-11);
  flex-shrink: 0;
}
.statusBarContainer {
  align-self: stretch;
  border-radius: var(--br-30);
  background-color: var(--color-gray-600);
  padding: var(--padding-23) var(--padding-26);
  box-sizing: border-box;
  min-height: 199px;
  z-index: 1;
}
.div9,
.statusBarContainerChild {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.statusBarContainerChild {
  height: 199px;
  width: var(--width-838);
  border-radius: var(--br-30);
  background-color: var(--color-gray-600);
  display: none;
}
.div9 {
  flex: 1;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .lineParent {
    height: auto;
  }
  .illustratorParent,
  .parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--fs-19);
  }
  .emailInput,
  .passwordFields {
    flex-wrap: wrap;
  }
  .h32 {
    font-size: var(--fs-19);
  }
  .h33 {
    font-size: var(--fs-16);
  }
  .h34 {
    font-size: var(--fs-19);
  }
}
