.rectangleParent {
  position: absolute;
  top: 1175px;
  left: 125px;
  width: var(--width-1315);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-15);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.frameChild,
.lineParent,
.rectangleParent {
  background-color: var(--color-gray-500);
  max-width: 100%;
}
.frameChild {
  align-self: stretch;
  width: var(--width-1315);
  position: relative;
  display: none;
}
.lineParent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-16) var(--padding-10) var(--padding-27);
  box-sizing: border-box;
  gap: var(--gap-36);
  z-index: 2;
}
.frameItem {
  height: var(--height-79);
  width: var(--width-1);
  border-right: var(--border-12);
  box-sizing: border-box;
}
.div,
.frameItem,
.ideafusion {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.div {
  font-weight: 600;
}
.ideafusion {
  font-size: var(--fs-24);
  color: var(--color-midnightblue);
}
.fusion {
  color: var(--color-mediumslateblue-200);
}
.creativeCollaborationPlatfor,
.vectorIcon {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.vectorIcon {
  height: var(--height-1);
  width: 172.5px;
}
.creativeCollaborationPlatfor {
  font-size: var(--fs-8);
  color: var(--color-lightslategray);
}
.frameInner {
  width: var(--width-58_6);
  max-height: 100%;
  object-fit: contain;
}
.frameInner,
.instagramAnasteishen,
.rectangleDiv {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.instagramAnasteishen {
  font-weight: 300;
  color: var(--color-gray-100);
}
.rectangleDiv {
  height: var(--height-124);
  width: var(--width-1315);
  background-color: var(--color-gray-500);
  max-width: 100%;
}
.moderationBlock {
  flex-direction: column;
  padding: var(--padding-3) var(--padding-01) var(--padding-01);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frameGroup,
.frameParent,
.moderationBlock,
.parent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-38);
  max-width: 100%;
}
.frameGroup,
.parent {
  flex: 1;
}
.frameGroup {
  gap: var(--gap-45_5);
  max-width: 100%;
}
.parent {
  flex-direction: column;
  gap: var(--gap-1);
  min-width: var(--min-w-189);
}
.div4 {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.moderatorsEmail {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-01) var(--padding-17);
  color: var(--color-gray-100);
}
.moderatorsideafusioncom3802 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.frameChild3 {
  height: var(--height-79);
  width: var(--width-1);
  position: relative;
  border-right: var(--border-12);
  box-sizing: border-box;
  z-index: 1;
}
.platformOwner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5);
  min-width: var(--min-w-183);
}
.div5 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.ownerSocials,
.supportContainer {
  display: flex;
  align-items: flex-start;
}
.ownerSocials {
  align-self: stretch;
  padding: var(--padding-01) var(--padding-01) var(--padding-01)
    var(--padding-20);
  color: var(--color-gray-100);
}
.supportContainer {
  height: var(--height-78);
  padding: var(--padding-01) var(--padding-28) var(--padding-01)
    var(--padding-01);
  box-sizing: border-box;
  gap: var(--gap-32);
  flex-shrink: 0;
}
.supportContainerInner {
  flex-direction: column;
  padding: var(--padding-3) var(--padding-01) var(--padding-01);
}
.group,
.supportContainerInner,
.supportEmail {
  display: flex;
  align-items: flex-start;
}
.group {
  flex-direction: column;
  gap: var(--gap-6);
}
.supportEmail {
  padding: var(--padding-01) var(--padding-01) var(--padding-01)
    var(--padding-13);
  color: var(--color-gray-100);
}
.supportContainerChild {
  align-self: stretch;
  width: var(--width-1);
  position: relative;
  border-right: var(--border-12);
  box-sizing: border-box;
  z-index: 1;
}
.creativePanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7_8) var(--padding-01) var(--padding-01);
  flex-shrink: 0;
  font-size: var(--fs-24);
  color: var(--color-midnightblue);
}
.frameContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-11_7);
}
.groupIcon {
  width: var(--width-58_6);
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 1;
}
.frameDiv,
.frameWrapper,
.ideafusionParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameWrapper {
  flex: 1;
  justify-content: flex-end;
  padding: var(--padding-01) var(--padding-01) var(--padding-4_4);
}
.frameDiv,
.ideafusionParent {
  align-self: stretch;
}
.frameDiv {
  gap: 3.7px;
  flex-shrink: 0;
}
.ideafusionParent {
  padding: var(--padding-01) var(--padding-01) var(--padding-1);
  gap: 0.8px;
}
.ideafusion2 {
  margin: 0;
  width: var(--width-152_3);
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.creativeCollaborationPlatfor2,
.vectorIcon2 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.vectorIcon2 {
  height: var(--height-1);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.creativeCollaborationPlatfor2 {
  font-size: var(--fs-8);
  color: var(--color-lightslategray);
}
@media screen and (max-width: 1225px) {
  .lineParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup,
  .frameParent {
    flex-wrap: wrap;
  }
  .frameGroup {
    min-width: 100%;
  }
  .frameChild3 {
    width: var(--width-100);
    height: var(--height-1);
    border-top: var(--border-11);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ideafusion,
  .ideafusion2 {
    font-size: var(--fs-19);
  }
}
