.formContainer,
.formContainerChild {
  width: var(--width-600);
  border-radius: var(--br-40);
  background-color: var(--color-gray-400);
  max-width: 100%;
}
.formContainer {
  position: absolute;
  top: 403px;
  left: 153px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 33px var(--padding-18) 41px;
  box-sizing: border-box;
  gap: var(--gap-11);
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.formContainerChild {
  height: 633px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.formColumn,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.formColumn {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-18);
  max-width: 100%;
  flex-shrink: 0;
}
.wrapper {
  padding: var(--padding-0) var(--padding-19);
}
.h3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  z-index: 1;
}
.dataFields,
.fieldRows {
  align-self: stretch;
  max-width: 100%;
}
.dataFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6);
  font-size: var(--fs-16);
}
.fieldRows {
  padding: var(--padding-0) var(--padding-0) var(--padding-3) var(--padding-4);
  box-sizing: border-box;
}
.container,
.fieldRows,
.nameDescriptionRow {
  display: flex;
  align-items: flex-start;
}
.nameDescriptionRow {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}
.container {
  padding: var(--padding-0) var(--padding-15);
}
.div {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.valueDescriptionRow {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  align-self: stretch;
  border-radius: var(--br-30);
  padding: var(--padding-13) var(--padding-30) var(--padding-10);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: var(--fs-24);
  color: var(--color-gray-100);
  min-width: var(--min-w-250);
  z-index: 1;
}
.fieldRows2,
.frame,
.valueDescriptionRow {
  display: flex;
  align-items: flex-start;
}
.fieldRows2 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  max-width: 100%;
}
.frame {
  padding: var(--padding-0) var(--padding-16);
}
.frameChild,
.rectangleParent {
  border-radius: var(--br-30);
  background-color: var(--color-gray-200);
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-8) var(--padding-27) 57px;
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--fs-24);
  color: var(--color-gray-100);
}
.frameChild {
  height: 152px;
  width: var(--width-522);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.div3,
.div4 {
  position: relative;
  font-weight: 300;
}
.div3 {
  height: 87px;
  width: 458px;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
  flex-shrink: 0;
}
.div4 {
  z-index: 1;
}
.categoriesData,
.specDetails {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.specDetails {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  border-radius: var(--br-30);
  padding: var(--padding-10) var(--padding-31) var(--padding-13);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: var(--fs-24);
  color: var(--color-gray-100);
  min-width: var(--min-w-250);
  z-index: 1;
}
.categoriesData {
  flex-direction: column;
  gap: var(--gap-1);
  max-width: 100%;
}
.statusCategoryRow,
.statusCategoryRow2 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-22) var(--padding-5);
}
.statusCategoryRow2 {
  align-self: stretch;
  border-radius: var(--br-30);
  background-color: var(--color-gray-200);
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-10) var(--padding-30) var(--padding-13)
    var(--padding-31);
  box-sizing: border-box;
  gap: var(--gap-11);
  max-width: 100%;
  z-index: 1;
  font-size: var(--fs-24);
  color: var(--color-gray-100);
}
.div6,
.statusCategoryRowChild {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.statusCategoryRowChild {
  height: 52px;
  width: var(--width-522);
  border-radius: var(--br-30);
  background-color: var(--color-gray-200);
  display: none;
}
.div6 {
  flex: 1;
  font-weight: 300;
  display: inline-block;
  min-width: 84px;
  z-index: 2;
}
.categoryIcons {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  flex-shrink: 0;
}
.categoryIconsChild {
  height: 17px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.actionButtons,
.saveButton {
  display: flex;
  align-items: flex-start;
}
.actionButtons {
  padding: var(--padding-0) 116px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.saveButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9) var(--padding-48) var(--padding-8) 56px;
  background-color: var(--color-mediumslateblue-200);
  border-radius: var(--br-30);
  z-index: 1;
}
.saveButton:hover {
  background-color: var(--color-mediumslateblue-100);
}
.h32,
.saveButtonChild {
  position: relative;
  flex-shrink: 0;
}
.saveButtonChild {
  height: 41px;
  width: 260px;
  border-radius: var(--br-30);
  background-color: var(--color-mediumslateblue-200);
  display: none;
}
.h32 {
  margin: 0;
  font-size: var(--fs-20);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
@media screen and (max-width: 450px) {
  .div3,
  .div6,
  .h3 {
    font-size: var(--fs-19);
  }
}
