.frameChild,
.rectangleParent {
  height: var(--height-261);
  border-radius: var(--br-40);
  background-color: var(--color-gray-200);
}
.rectangleParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-9);
  z-index: 1;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frameChild {
  position: relative;
  display: none;
}
.frameChild,
.frameWrapper,
.overlapLayer {
  align-self: stretch;
  flex-shrink: 0;
}
.overlapLayer {
  flex: 1;
  position: relative;
  border-radius: var(--br-40) var(--br-40) var(--br-0) var(--br-0);
  background-color: var(--color-salmon-100);
  z-index: 1;
}
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-8) var(--padding-0) var(--padding-15);
}
.innerLayerParent {
  flex-direction: column;
  gap: var(--gap-23);
}
.innerLayer,
.innerLayerParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.b,
.styleBanner {
  position: relative;
}
.b {
  flex: 1;
  flex-shrink: 0;
  z-index: 1;
}
.styleBanner {
  align-self: stretch;
  width: var(--width-75);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  margin-left: -14px;
  font-size: var(--fs-13);
  color: var(--color-mediumslateblue-200);
}
.frameItem,
.rectangleGroup {
  height: var(--height-18);
  border-radius: var(--br-30);
  background-color: var(--color-mediumslateblue-300);
  border: var(--border-2);
  box-sizing: border-box;
  flex-shrink: 0;
}
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-13) var(--padding-0) var(--padding-14);
  z-index: 1;
}
.frameItem {
  width: var(--width-75);
  position: relative;
  display: none;
}
.div,
.div2 {
  position: relative;
  z-index: 1;
}
.div {
  flex-shrink: 0;
}
.div2 {
  font-size: var(--fs-13);
  font-weight: 300;
}
